/*
Import for the font that my portfolio will use.
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --head-background: #e76f51;
    --nav-background:#2a9d8f;
    --background: #023047;/*#2E8BC0*/
    --alt-background: #f4a261;
    --text: #f3f6fb;
}
/* Paragraph text styling*/
p{
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    font-weight: bold;
}
/* Whole page styling */ 
body{
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 5rem;
    border: none;
    padding: none;
    color: var(--text);
    background-color: var(--background);
}
/* Header section styles */
header{
    align-items: stretch;
    display: flex;
    flex-basis: 2fr 1fr;
    justify-content: space-between;
    align-items:center;
    background-color: var(--head-background);
    height: 10rem;
}
/* Links need styling as well!*/
a{
    color: white;
    text-decoration: none;
}
ul{
    text-align: center;
    display: flex;
    align-items: flex-start;
}

nav{
    flex-grow: 1;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1.5rem;
}

nav ul{
    justify-content: flex-end;
    height: 100%;
    font-size: 1.75rem;
}

nav li{
    padding: 0.5rem;
}
nav li:hover{
    transition: 0.5s ease-in;
    background: rgba(0, 20, 20, 0.2);
}


ul li{
    margin: 5px 20px 5px 20px;
    list-style-type: none;
    color: white;
}

h2{
    letter-spacing: 2px;
    flex-grow: 2;
    margin-left: 1rem;
    font-size: 4.5rem;
    font-weight: 900;
    text-shadow: 0.8px 1px black;
}

h2:hover{
    transition: 1s;
    transform:rotate(-5deg);
}
.grid-item{
    padding: 1rem;
    border: 2px solid black;
}

/*
Body Section
*/
h3{
    font-size: 2rem;
    text-decoration: underline 2px;
    text-shadow: 1px 1px black;
    align-content: center;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr; 
}
.my-picture{
    text-align: center;
    text-align: center;
    margin: 20px 5px 20px 5px;
}

.intro{
    background-color: var(--nav-background);
    padding: 30px;
    margin: 20px 5px 20px 5px;
    box-shadow: 2px 2px black;
}
.intro:hover{
    transition: 0.8s;
    background-color: #185ba0;
    transform: scale(1.05);
}

.my-work{
    text-align: center;
    background-color: var(--nav-background);
    box-shadow: 3px 2px black;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.my-work, .about-me, .contact-info{
    grid-column: span 2;
}
.my-image{
    object-fit: cover;
}

.my-image:hover{
    transition: 1.5s ease-out;
    transform:rotate(360deg);
    opacity: 0%;
}

.about-me{
    background-color: var(--alt-background);
}
.contact-info{
    background-color: var(--nav-background);
}
.contact-info ul li{
    margin: 10px;
}

a:hover{
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}