/*
Import for the font that my portfolio will use.
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --head-background: #e76f51;
    --nav-background:#2a9d8f;
    --background: #fefefe;/*#2E8BC0*/
    --alt-background: #f4a261;
    --text: #010101;
}
.flex-container{
    display: flex;
    column-gap: 50px;
    flex-basis: 30% 70%;
    flex-grow: 1 3;
}

.my-image{
    border: 1px solid black;
    width: 300px;
    min-width: 100px;
    border-radius: 20%;
}

.name{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1px;
}
.personal-intro{
    max-width: 30%;
}

/* Whole page styling */ 

body{
    font-family: 'Inter', sans-serif;
    margin: 2rem 5rem;
    border: none;
    padding: none;
    color: var(--text);
    background-color: var(--background);
}

h3{
    font-size: 1rem;
}

p{
    font-size: 1rem;
}

.work-elements{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.project{
    padding: 20px;
    border: 1px solid black;
    background-color: red;
}

.my-picture{
    text-align: center;
    text-align: center;
    margin: 20px 5px 20px 5px;
}

.intro{
    background-color: var(--nav-background);
    padding: 30px;
    margin: 20px 5px 20px 5px;
    box-shadow: 2px 2px black;
}
.intro:hover{
    transition: 0.8s;
    background-color: #185ba0;
    transform: scale(1.05);
}

.my-work{
    text-align: center;
    background-color: var(--nav-background);
    box-shadow: 3px 2px black;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.my-work, .about-me, .contact-info{
    grid-column: span 2;
}

.about-me{
    background-color: var(--alt-background);
}
.contact-info{
    background-color: var(--nav-background);
}
.contact-info ul li{
    margin: 10px;
}

a:hover{
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}