/*
Import for the font that my portfolio will use.
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --head-background: #e76f51;
    --nav-background:#2a9d8f;
    --background: #fefefe;/*#2E8BC0*/
    --alt-background: #f4a261;
    --text: #010101;
}

.flex-container{
    display: flex;
    column-gap: 50px;
    flex-basis: 30% 70%;
    flex-grow: 1 3;
    width: 100%;
}
h1{
    margin: 12.5px 0px;
}

.my-image{
    border: 1px solid black;
    width: 100%;
    min-width: 100px;
    padding: 0px;
}

.project-text{
    text-align: center;
    color: white;
    font-size: 2rem;
}
.name{
    font-size: 2.3rem;
    font-weight: bolder;
    letter-spacing: 0.8px;
}
.personal-intro{
    max-width: 25%;
}

/* Whole page styling */ 

body{
    font-family: 'Inter', sans-serif;
    border: none;
    padding: none;
    color: var(--text);
    background-color: var(--background);
    margin: 0px;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 1rem;
}
.project-bg{
    position: relative;
    text-align: center;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;   
}
.work-elements{
    display: grid;
    margin: 0px;
    width: 100%;
    gap: 12.5px;
    overflow: hidden;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.node:hover{
    background-color: #68A063;
}
.react:hover{
    background-color: #61DBFB;
}
.java:hover{
    background-color: red;
}
.sql:hover{    
    background-color: violet;
}
.regex:hover{
    background-color: lightsalmon;
}

.skills-tags{
    display: flex;
}
.skills-tags div{
    margin-right: 25px;
}

.tag{
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 2px solid #422800;
    /* border-radius: 15px; */
    box-shadow: #422800 1.5px 1.5px 0 0;
    text-align: center;
    padding: 3px 8px;
    margin: 10px 0px;

}

#skill-bar{
    margin: 0px 10px;
    width: 50%;
    height: 27.5px;
}
.skill-container{
    display: none;
    margin: 8px auto;
    vertical-align: middle;
    text-align: center;
}
.project-link{
    color: white;
    text-decoration: none;
}
.project-link:hover{
    text-shadow: .2rem .2rem 0 hsl(200 50% 30%);
}
/* Background images styling */
.project { 
    border: 1px solid black;
    width: auto;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    color: white;
    background-blend-mode: multiply;
    opacity: 0.85;
    text-align: center;
}
.project:hover{
    box-shadow: 2px 2px 5px black;
    border: 2px solid black;
    transform: 0.2s;
    background-blend-mode: normal;
}
.project::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
}

.social-img{
    justify-content: space-around;
    width: 32px;
}
/* Web Development*/
.city-retriever{
    background-color: #C33149;
    background-image: url('../images/project-bg/city-retriever-project.jpg');
}
.js-songs-app{
    background-color: #38E4AE;
    background-image: url('../images/project-bg/songs-project.jpg');
}
.covid-java{
    background-color: #FEEA00;
    background-image: url('../images/project-bg/covid-project.jpg');
}
.react-project{
    background-color: #CBBAED;
    background-image: url('../images/project-bg/next-project.jpg');
}
.bg-text{
    text-shadow: 1px 1px 2px black;
    font-size: 2rem;
}

#resume{
    width: 40px;
}

.mobile-only{
    display: none;
}

/* Image for about me page */

.about-me-img{
    max-width: 300px;
}


/* Media queries for responsive design */

/* Laptops, smaller monitors */
@media (max-width: 1440px) {
    body{
       margin: 2rem 4rem; 
    }    
    .personal-intro{
        max-width: 30%;
    }
    .optional{
        display: none;
    }
    .regex{
        display: none;
    }
}
/* Some laptops and most tablets */
@media (max-width: 1100px){
    body{
        margin: 2rem;
    }
    .personal-intro{
        max-width: 40%;
    }
    .work-elements{
        display: block;
    }
    .project{
        min-height: 25%;
        margin-top: 10px;
    }
    .project:first-child{
        margin-top: 0px;
    }
}
/* Mobile device media queries*/
@media (max-width: 650px){
    body{
        margin: 1rem;
    }
    .action-image{
        max-width: 90%;
    }
    .flex-container{
        display: block;
    }
    .personal-intro{
        max-width: 100%;
    }
    .bg-text{
        font-size: 1rem;
    }
    .work-elements{
        display: grid;
        gap: 7.5px;
    }
    .project{
        min-height: 185px;
        margin-top: 0px;
    }
    .mobile-only h3{
        margin: 0px;
    }
    .social-links{
        display: none;
    }
    .mobile-only{
        display: flex;
        justify-content: space-evenly;
    }
    .skills-tags{
        justify-content: start;
    }
    .tag{
        margin-right: 1.5rem;
    }
    .links{
        margin: 15px 20px;
    }
    #bottom-division-mobile{
        margin-top: 20px;
    }
}
/* Some phones */
@media (max-width: 380px){
    .action-image{
        max-width: 70%;
    }
}
/* Projects page styling */
.projects-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12.5px;
}
.project-showcase{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.project-header{
    grid-column: span 2;
    font-size: 1.9rem;

}
video{
    border: 2px solid black;
}

.project-showcase{
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    border: 5px black;
}
.project-one{
    background-color: #C33149;
}
.project-two{
    background-color: #38E4AE;
    opacity: 0.85;
}
.project-three{
    background-color: #FEEA00;
}
.project-four{
    background-color: #CBBAED;
}
